<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Background</key>
	<string>Default.png</string>
	<key>FacebookURL</key>
	<string></string>
	<key>InfoPageURL</key>
	<string>http://www.sunshineradionetwork.com</string>
	<key>MySpaceURL</key>
	<string></string>
	<key>RequestEmail1</key>
	<string>sunshineradionetwork@sunshineradionetwork.com</string>
	<key>RequestEmail2</key>
	<string>sunshineradionetwork@sunshineradionetwork.com</string>
	<key>RequestEmail3</key>
	<string>sunshineradionetwork@sunshineradionetwork.com</string>
	<key>RequestEmail4</key>
	<string>sunshineradionetwork@sunshineradionetwork.com</string>
	<key>RequestEmail5</key>
	<string>sunshineradionetwork@sunshineradionetwork.com</string>
	<key>RequestEmail6</key>
	<string>sunshineradionetwork@sunshineradionetwork.com</string>
	<key>RequestEmailSubject</key>
	<string>Song Request</string>
	<key>StationGraphics1</key>
	<string>station1.png</string>
	<key>StationGraphics2</key>
	<string>station2.png</string>
	<key>StationGraphics3</key>
	<string>station3.png</string>
	<key>StationGraphics4</key>
	<string>station4.png</string>
	<key>StationGraphics5</key>
	<string>station5.png</string>
	<key>StationGraphics6</key>
	<string>station6.png</string>
	<key>streamURL1</key>
	<string>http://216.59.35.41:8114</string>
	<key>streamURL2</key>
	<string>http://216.59.35.41:8132</string>
	<key>streamURL3</key>
	<string>http://216.59.35.41:8140</string>
	<key>streamURL4</key>
	<string>http://216.59.35.41:8136</string>
	<key>streamURL5</key>
	<string>http://216.59.35.41:8130</string>
	<key>streamURL6</key>
	<string>http://216.59.35.41:8134</string>
	<key>TwitterURL</key>
	<string></string>
	<key>WebSiteName1</key>
	<string>sunshineradionetwork.com</string>
	<key>WebSiteName2</key>
	<string>sunshineradionetwork.com</string>
	<key>WebSiteName3</key>
	<string>sunshineradionetwork.com</string>
	<key>WebSiteName4</key>
	<string>sunshineradionetwork.com</string>
	<key>WebSiteName5</key>
	<string>sunshineradionetwork.com</string>
	<key>WebSiteName6</key>
	<string>sunshineradionetwork.com</string>
	<key>WebSiteURL1</key>
	<string>http://www.sunshineradionetwork.com</string>
	<key>WebSiteURL2</key>
	<string>http://www.sunshineradionetwork.com</string>
	<key>WebSiteURL3</key>
	<string>http://www.sunshineradionetwork.com</string>
	<key>WebSiteURL4</key>
	<string>http://www.sunshineradionetwork.com</string>
	<key>WebSiteURL5</key>
	<string>http://www.sunshineradionetwork.com</string>
	<key>WebSiteURL6</key>
	<string>http://www.sunshineradionetwork.com</string>
	<key>YoutubeURL</key>
	<string></string>
</dict>
</plist>
